@model IEnumerable<BooksManagementSystem.Models.BorrowingViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>All borrowings</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
        <a asp-action="Create">Borrow Book</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit or return</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
